<%= render 'shared/banner' %>

<div class="container-fluid bg-grey-light" id="services">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-primary vertical-padding-2">Services disponibles</h3>
        </div>
      </div>
      <div class="row vertical-padding-4">
        <% @services.each do |service| %>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <a href="#" class="thumbnail card-service text-center">
              <div class="service-img">
                <img src="http://placehold.it/50x50" class="img-resposive img-circle" alt="...">
              </div>
              <div class="caption">
                <h5><%= service.name %></h5>
              </div>
                <%= button_to "Résilier", "/services/4/unsubs/new", class: "btn btn-success", method: :get %>
            </a>
          </div>
        <% end %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <a href="#addservice" class="thumbnail card-service text-center">
            <div class="caption">
              <h4>And more soon !</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary">
  <div class="row">
    <div class="container">
      <div class="row vertical-padding-8">
        <h2 class="text-center">Pourquoi Fleeme ?</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row vertical-padding-8">
    <div class="container">
    <h2 class="text-primary text-center">Les garanties Fleeme</h2>
      <div class="row vertical-padding-4">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail text-center card-market">
              <img src="http://placehold.it/100x100" class="img-resposive img-circle" alt="...">
              <div class="caption">
                <h4 class="text-primary">Thumbnail label eazlk</h4>
                <p>Fleeme crée pour vous une lettre personnalisée conforme aux conditions générales d'utilisation du service que vous souhaitez résilier.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="thumbnail text-center card-market">
              <img src="http://placehold.it/100x100" class="img-resposive img-circle" alt="...">
              <div class="caption">
                <h4 class="text-primary">Envoi par recommandé La Poste</h4>
                <p>Fleeme fait appel à La Poste pour délivrer votre courrier en recommandé en 48h.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row"></div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail text-center card-market">
              <img src="http://placehold.it/100x100" class="img-resposive img-circle" alt="...">
              <div class="caption">
                <h4 class="text-primary">Suivi de votre résiliation</h4>
                <p>Fleeme vous tient au courant de l'envoi de votre lettre de résiliationet vous remet un récipicé électronique une fois votre courrier délivré.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail text-center card-market">
              <img src="http://placehold.it/100x100" class="img-resposive img-circle" alt="...">
              <div class="caption">
                <h4 class="text-primary">Thumbnail label eazlk</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. sicing elit</p>
              </div>
            </div>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary" id="addservice">
  <div class="row">
    <div class="container">
      <div class="row vertical-padding-8">
        <div class="col-sm-12 col-md-6 col-lg-7">
          <h3>Le service dont vous voulez vous désabonner n'est pas encore disponible sur Fleeme ?</h3>
          <p>Donnez-nous son nom pour qu'il soit ajouté rapidement !</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
          <div class="panel panel-default card-add">
            <div class="panel-body ">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-primary">Nom du service à ajouter</label>
                  <input type="text" class="form-control" id="" placeholder="Ex: Salle de sport, carte de paiement...">
                </div>
                <button type="submit" class="btn btn-success">Ajouter</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row vertical-padding-4">
    <div class="container">
      <h2 class="text-primary text-center vertical-padding-4">Avis de nos utilisateurs</h2>
      <div class="row vertical-padding-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle" src="http://placehold.it/100x100" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Roger, ancien abonné Canal+</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, itaque deserunt!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="http://placehold.it/100x100" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Roger, ancien abonné Canal+</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea rerum fugiat !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
