<div class="expanded row">
  <div class="small-12 medium-10 medium-centered">
    <div class="row vertical-padding-2">
      <div class="small-12 medium-6 large-8 columns">
        <form data-abide novalidate>
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
          </div>
          <h2 class="tx-primary">New service</h2>
          <label>Name
            <input type="text" placeholder="Ex: Carte UGC illimité" required pattern="text">
            <span class="form-error">
              Yo, you had better fill this out, it's required.
            </span>
          </label>
          <label>Company
            <input type="text" placeholder="Ex: UGC Ciné Cité" required pattern="text">
            <span class="form-error">
              Yo, you had better fill this out, it's required.
            </span>
          </label>
          <label>Street Adress 1
            <input type="text" placeholder="Ex: Service Abonnés" required pattern="text">
            <span class="form-error">
              Yo, you had better fill this out, it's required.
            </span>
          </label>
          <label>Street Adress 2
            <input type="text" placeholder="Ex: 2 rue Pipou" pattern="text">
          </label>
          <label>Zip code
            <input type="text" placeholder="Ex: TSA 30 200" required pattern="text">
            <span class="form-error">
              Yo, you had better fill this out, it's required.
            </span>
          </label>
          <label>Form URL
            <input type="text" placeholder="Ex: " required pattern="url">
            <span class="form-error">
              Field required. Must be a valid url.
            </span>
          </label>
          <button type="button" type="submit" class="button primary large show-for-medium">Preview service</button>
          <button type="button" type="submit" class="button primary small show-for-small-only">Preview service</button>
        </form>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <h2 class="tx-">Preview</h2>
        <div class="secondary callout">
          <p>Name :</p>
          <p>Company :</p>
          <p>Street Adress 1 :</p>
          <p>Street Adress 2 :</p>
          <p>Zip code :</p>
          <button type="button" class="button primary large show-for-medium">Preview form</button>
          <button type="button" class="button primary small show-for-small-only">Preview form</button>
        </div>
        <button type="button" type="submit" class="button success large show-for-medium">Save service</button>
        <button type="button" type="submit" class="button success small show-for-small-only">Save service</button>
      </div>

    </div>
  </div>
</div>

