<div class="banner" style="background-image: linear-gradient(135deg, #efefef 0%,rgba(239, 239, 239, 0) 71%,#ffffff 0%,#ffffff 71%,#7db9e8 71%,#7db9e8 71%,#2989d8 100%), url('/assets/pattern.png'); background-position: bottom;">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="banner-content text">
              <div class="banner-text tx-primary">
                <h1>Lorem ipsum</h1>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h4>
              </div>
              <div class="banner-card bg-white text-primary">
                <ul class="list-unstyled list-banner">
                  <li><i class="fa fa-check-square-o fa-2x tx-secondary" aria-hidden="true"></i>Création de courrier personnalisé</li>
                  <li><i class="fa fa-check-square-o fa-2x tx-secondary" aria-hidden="true"></i>Envoi de recommandé</li>
                  <li><i class="fa fa-check-square-o fa-2x tx-secondary" aria-hidden="true"></i>Suivi de votre résiliation</li>
                </ul>
                <h3 class="tx-primary">Fleeme s'occupe de tout !</h3>
                <a href="#services" type="button" class="btn btn-success">Commencer</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white banner-bar-row ">
    <div class="row">
      <div class="container">
        <div class="row ">
          <div class="col-xs-12">
            <ul class="list-unstyled list-inline banner-bar">
              <li class="text-center">
                <img src="<%= image_path('tv.png') %>" alt="">
                <p>Câble et télévision</p>
              </li>
              <li class="text-center">
                <img src="<%= image_path('cinema.png') %>" alt="">
                <p>Cartes cinéma</p>
              </li>
              <li class="text-center">
                <img src="<%= image_path('sport.png') %>" alt="">
                <p>Salles de sport</p>
              </li>
              <li class="text-center">
                <img src="<%= image_path('dots.png') %>" alt="">
                <p>Et bien d'autres !</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
