<footer class="footer bg-primary vertical-padding-2">
  <div class="expanded row">
    <div class="small-12 medium-10 medium-centered">
      <div class="row">
        <div class="small-6 medium-5 large-5 columns">
          <h4>A propos de Fleeme</h4>
          <ul class="footer-links">
            <li><a href="#">Qui sommes-nous ?</a></li>
            <li><a href="#">Conditions générales de vente</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Nous contacter</a></li>
          <ul>
        </div>
        <div class="small-6 medium-5 large-5 columns">
          <h4>Réseaux sociaux</h4>
          <ul class="footer-links">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          <ul>
        </div>
        <div class="small-12 medium-2 large-2 columns">
          <i class="fi-laptop"></i>
          <p>Fleeme - 2016</p>
        </div>

      </div>
    </div>

  </div>
</footer>
