<div class="expanded row bg-primary vertical-padding-2">
  <div class="small-10 small-centered">
    <div class="row vertical-padding">
      <div class="small_12 medium-6 columns">
      <h4>Vous ne trouvez pas le service dont vous voulez vous désabonner ?</h4>
      <p>Donnez-nous son nom pour que nous l'ajoutions rapidement !</p>
      </div>
      <div class="small_12 medium-6 columns">
        <label>Nom du service à ajouter
         <input type="text" placeholder="Exemple: Carte cinéma UGC, Salle de sport...">
        </label>
      </div>
    </div>
  </div>
</div>
<div class="expanded row vertical-padding-2 ">
  <div class="small-10 small-centered medium-centered">
    <div class="row vertical-padding large-collapse">
      <h2 class="tx-primary text-center">Les garanties Fleeme</h2>
      <div class="small-12 medium-6 large-3 columns">
        <div class="card card-market text-center">
          <div class="card-image">
            <%= image_tag('http://placehold.it/100x100', alt: 'Description', 'data-interchange' => "[http://placehold.it/100x100, small], [#{image_path('150.png')} medium],") %>
          </div>
          <h4>pon</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>

        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="card card-market text-center">
          <div class="card-image">
            <%= image_tag('http://placehold.it/100x100', alt: 'Description', 'data-interchange' => "[http://placehold.it/100x100, small], [#{image_path('150.png')} medium],") %>
          </div>
          <h4>pon</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="card card-market text-center">
          <div class="card-image">
            <%= image_tag('http://placehold.it/100x100', alt: 'Description', 'data-interchange' => "[http://placehold.it/100x100, small], [#{image_path('150.png')} medium],") %>
          </div>
          <h4>pon</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="card card-market text-center">
          <div class="card-image">
            <%= image_tag('http://placehold.it/100x100', alt: 'Description', 'data-interchange' => "[http://placehold.it/100x100, small], [#{image_path('150.png')} medium],") %>
          </div>
          <h4>pon</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
      </div>
    </div>
  </div>
</div>
