<div class="expanded row bg-primary">
  <div class="small-12 medium-10 large-10 medium-centered large-centered ">
    <div class="title-bar bg-primary" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar bg-primary" id="main-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu hide-for-small-only" data-dropdown-menu>
          <li class="menu-text">Fleeme</li>
          <li class="menu-text">Résilier facilement</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="#" class="button">Comment ça marche ?</a></li>
          <li><a href="#" class="button">Votre compte</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
