<div class="expanded row">
  <div class="small-12 medium-10 medium-centered">
    <div class="row vertical-padding-2" data-equalizer>
      <div class="small-12 columns">
      <h4>Welcome back username !</h4>
      </div>
      <div class="small-12 medium-4 columns" >
        <div class="callout" data-equalizer-watch>
          <h5>1 service(s) available</h5>
          <%= link_to "Add service", "services/new", class: "button primary small show-for-small-only" %>
          <%= link_to "Add service", "services/new", class: "button primary large show-for-medium" %>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="callout" data-equalizer-watch>
          <h5>1 unsub(s) pending</h5>
          <button type="button" type="submit" class="button primary large show-for-medium">Send unsub</button>
          <button type="button" type="submit" class="button primary small show-for-small-only">Send unsub</button>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="callout" data-equalizer-watch>
          <h5>1 unsub(s) to confirm</h5>
          <button type="button" type="submit" class="button primary large show-for-medium">Confirm unsub</button>
          <button type="button" type="submit" class="button primary small show-for-small-only">Confirm unsub</button>
        </div>
      </div>
    </div>
  </div>
</div>
