.banner {
  min-height:calc(100vh - 70px);
  display: flex;
  flex-wrap: wrap;
  background-repeat: repeat;

  background-position: bottom;
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #efefef 0%, #efefef 71%, #ffffff 71%, #ffffff 71%, #7db9e8 71%, #7db9e8 71%, #2989d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #efefef 0%,#efefef 71%,#ffffff 71%,#ffffff 71%,#7db9e8 71%,#7db9e8 71%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: image-url("banner-picture.jpg"), linear-gradient(135deg, #efefef 0%,#efefef 0%,#ffffff 0%,#ffffff 0%,#7db9e8 71%,#7db9e8 71%,#2989d8 100%) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.banner-content {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width:767px){
    flex-wrap: wrap;
  }
}

.banner-card {
  border-radius: 4px;
  padding: 35px;
  @media(max-width:767px){
    width: 100%;
  }
  .btn {
    width: 100%;
    padding: 15px;
    margin-top: 25px;

  }
}

.list-banner {
  padding-left: 36px;
  .fa {
    padding-right: 5px;
    vertical-align: middle;
    margin-left: -36px;
  }
  li {
    padding-bottom: 5px;
  }
}

.banner-text {
  flex-shrink: 1;
}

.banner-bar-row {
  align-self: flex-end;
  width: 100%;
  background: $secondary;
  margin-top: 50px;
  img {
    height:60px;
    opacity: 0.3
  }
  p {
    opacity:0.4
  }
}

.banner-bar {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
