.card-service {

  border-radius: 5px;
  border: solid 0px;
  h5 {
    opacity: 1
  }
  @media(min-width:768px){
    padding-top: 20px;
    height:200px;
    width: 100%;
  }
  @media(max-width:767px){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background:#FFF;
    .caption {
      flex-grow: 2;
    }
    .service-img {
      flex-grow: 0;
    }
    button {
      padding: 10px;
    }
  }
}

.card-service:hover {

}
