.card-service {
  background-color:#FFFFFF;
  border: solid 1px $brand-color;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-right: 20px;
  min-height: 100%;
  display: flex;                 /* create nested flex container */
              /* enable flex items to wrap */
  button {
    align-self: flex-end;
  }
  p {
    color: grey;
  }
  @include breakpoint(small) {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 0.5em;
    margin-right: 0px;
    .card-image  {
      flex-grow: 0;
      flex-shrink:0;
      padding-right: 5px;
    }
    p {
      flex-grow: 2;
      flex-shrink:2;
      margin-bottom:0;
      font-size:0.8em;
    }
    .button {
      margin: 0em;
      align-self: center;
      justify-content: flex-end;
      flex-grow: 0;
      flex-shrink:0;
    }
  }
  @include breakpoint(medium) {
    text-align: center;
    flex: 1;               /* create nested flex container */
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding:10px;
    .card-image {
      width: 100%;
    }
    p {
      font-size: 1em;
      padding: 0.5em 0em;
    }
    h3, h4, p {
      width: 100%
    }
  }
}

.card-service:hover,  {
    @include breakpoint(small) {
      background-color: #FFFFFF;
    }
    @include breakpoint(medium) {
      background-color: $brand-color;
      border: solid 1px $brand-color;
      transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
      button {
        background-color: #22bb5b;
        transition: background-color 0.25s ease-out,
      }
      p {
        color: #FFFFFF;
        transition: color 0.25s ease-out;
      }
    }
  }

