// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
$skinLogo: url("admin_logo.png") no-repeat 0 0;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.attachinary_container{
  margin-left: 20%;
  margin-top: 20px;
}

.attachinary_container ul li{
  position:relative;
  display: inline-block;
}

.attachinary_container ul li a{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.85);
}
